<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9si4IYYQbK9fxktYvwocZEhGN2Dk3b2uB8GPL7mPCx8yZauAfmnaTpvweL_3JXD1F.B1L4Vdaqy5M7kQQ</string>
	<key>oauthRedirectURI</key>
	<string>com.servicebird.mobile://oauth/done</string>
	<key>shouldAuthenticate</key>
	<false/>
</dict>
</plist>
